@import "tailwindcss";

@theme {
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: ' Inter', sans-serif;
}
