# scripts/systemd/family-onprem-backup.timer
[Unit]
Description=Run the on-prem Family Task Manager DB backup every 6h

[Timer]
OnCalendar=00/6:00:00
Persistent=true

[Install]
WantedBy=timers.target
